<% content_for :title, "Editando tarefa" %>

<h1>Edite esta tarefa</h1>

<%= render "form", todo: @todo %>

<br>

<div>
  <%= link_to "Mostrar nais detalhes da tarefa", @todo %> |
  <%= link_to "Voltar para tarefas", todos_path %>
</div>
