<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

<h1>Tarefas</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Detalhes da tarefa", todo %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Tarefa", new_todo_path %>
